NEXT_PUBLIC_SUPABASE_URL=https://wshbywurteipkpsdrvlm.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndzaGJ5d3VydGVpcGtwc2RydmxtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDEzMTA3NSwiZXhwIjoyMDk5NzA3MDc1fQ.Js8xXxCDGeUgLlC1iEJA76xUetWGi1PSh9euN8YH0rc